{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
  <div class="container">
    <div class="container">
        <h1>About Us</h1>
    </div>
    <div class="container">
      <div class="container">
        <h3 class="about">Our team consists of 3 members </h3>
        <ul>
          <li><h4 class="about_us_dev_info">Truong Van Phuc Khang (Team Leader)</h4></li>
          <li><h4 class="about_us_dev_info">Tong Viet Tien</h4></li>
          <li><h4 class="about_us_dev_info">Nguyen Manh Ngoc Khanh</h4></li>
      </div>
      <div class="container">
        <p>This website is a web project that created by our group.
        This project can be used for education purpose.
        Feel free to download and change things as you like.</p>
        <p>According to statistics in 2022, the market condition is expanding again after the pandemic,
         and the newest numbers show that the number of individuals shopping for electronics such as phones and computers is increasing.
          Understanding this, we planned and designed an e-commerce project relating to electronic gadgets, which is a website that sells phones and computers,
          and items are mostly focused on authentic goods from major companies such as iPhone, ASUS, and so on, via a website distribution channel. Our sales website is called KKT,
          and we want to be able to recreate the business model in order to deliver the greatest products to users.</p>
    </div>
{% endblock %}